body {
  font-size: 14px;
  font-family: "Microsoft JhengHei","\5FAE\8F6F\96C5\9ED1",Helvetica,Arial,'\5B8B\4F53',sans-serif;
  color: #000b00;
  background: #fbfbfb url(http://img170.poco.cn/mypoco/ myphoto/20120401/11/64589801201204011126303641488025606_005.jpg)
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}

blockquote {
  margin: 0;
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #ddd;
}

.highlight {
  letter-spacing: 0;
}