
// Colors
// colors for use across theme.
// --------------------------------------------------

$gainsboro    = #eee

// Typography
// Font, line-height, and elements colors.
// --------------------------------------------------

// Font families
$font-family-monospace    = "PT Mono", Consolas, Monaco, Menlo, monospace
$font-family-posts        = Lato, $font-family-chinese, sans-serif
$font-family-base         = $font-family-posts

// Global line height
$line-height-base         = 1.8

// Layout sizes
// --------------------------------------------------

$main-desktop                   = 960px
$content-desktop                = 700px
$sidebar-desktop                = 240px
$content-desktop-padding        = 40px
