.header {
  position: relative;
  height: 50px;
  background-color: #1d1f21;
}

.menu {
  position: absolute;
  padding: 0;
  font-size: 1em;
}

.menu .menu-item {
  display: inline-block;
  line-height: 1.5;
  a {
    padding: 1px 15px;
    color: #eaf4fc;
  }
}