// CSS Style Guide: http://codeguide.co/#css

// Reset using normalize and fonts.
@import "_common/normalize";

// Common CSS
@import "_common/base";
@import "_common/variables"

// Fonts
@import "_fonts/lato";
@import "_fonts/icon-font";
@require "_fonts/icon-" + hexo-config('icon_font');

// Vendors
@import "_vendor/highlight/highlight";

// Section CSS
@import "_section/header"
@import "_section/main"

// Components
@import "_component/post"

// Pages
@import "_page/post-detail.styl"
@import "_page/archive.styl"
@import "_page/category.styl"