
.posts {
  
}

.post {
  margin: 7em 0;
  letter-spacing: 1px;	
}

.post {
  .post-title {
    position: relative;  
    padding: 0.5em 0;
    margin-bottom: 25px;
    font-size: 2.2em;
    border-bottom: 1px solid #f2f2f2;
    .post-title-link:hover {
      color: #f09;
    }
  }
  .post-body {
    position: relative;
    font-size: 16px;
    line-height: 1.8;
  }
  .post-footer {
    position: relative;
    margin-top: 20px;
    padding: 1.1em 0.5em;
    font-size: 0.9em;
    line-height: 2em;
    border-top: 1px solid #eff3f4;
    border-bottom: 1px solid #eff3f4;
    .post-meta {
      font-size: 0.8em;
      margin-right: 30px;
    }
    .post-tags {
      .icon-tags {
        margin-right: 5px;
        font-size: 0.8em;
      }
      a {
        margin-right: 5px;
        padding: 2px;
      }  
      a:hover {
        background: #f09;
        color: white;
      }
    }
    .post-more-link {
      position: absolute;
      right: 0;
      a {
        padding: 2px;
        color: #f09;
      }
      a:hover {
        background: #f09;
        color: white;
      }
    }
  }
}

.post-type-normal {
  
}