.page-archive {
  .content { 
    font-size: 16px;
    p {
      margin: 0;
    }
    .collection-title {
      margin: 50px 0 5px 0;
      font-size: 1.4em;    
      line-height: 2.2em;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px dashed #ddd;
    }

    .post-header {
      position: relative;
      line-height: 2.9em;
      border-bottom: 1px dashed #ddd;
      .post-title:hover {
        color: #f09;
      }
      .post-time {
        position: absolute;
        right: 0;
        font-size: 14px;
        color: #999;
      } 
    }
  }	
}